<div class="container">
  <div class="title">
    <span>Head of Engineering</span>
    <span>Co-Founder</span>
    <span>Full Stack Engineer</span>
  </div>
  <div class="about-me">
    Hello, I'm Amit Gharge, a Co-founder and Head of Engineering with expertise
    in full stack development. I'm passionate about leveraging cutting-edge
    technologies to deliver high-quality software solutions. With a focus on
    continuous learning and problem-solving, I strive to make a positive impact
    through my work. Let's connect and explore how I can contribute to your
    organization's success.
  </div>
</div>
