<div class="flex flex-col justify-center items-center mt-4 gap-2">
  <div
    class="flex flex-1 flex-col justify-center md:gap-3 text-3xl sm:gap-0 sm:text-4xl md:text-7xl lg:text-8xl xl:text-9xl font-serif"
  >
    <span>Head of Engineering</span>
    <span class="text-gray-400">Co-Founder</span>
    <span>Full Stack Engineer</span>
  </div>
  <div
    class="flex flex-1 text-justify text-xl sm:text-3xl font-serif m-vw-14 mt-8 mb-0"
  >
    Hello, I'm Amit Gharge, a Co-founder and Head of Engineering with expertise
    in full stack development. I'm passionate about leveraging cutting-edge
    technologies to deliver high-quality software solutions. With a focus on
    continuous learning and problem-solving, I strive to make a positive impact
    through my work. Let's connect and explore how I can contribute to your
    organization's success.
  </div>
</div>

<div class="relative">
  <div class="absolute bg-slate-400 h-screen w-2 left-16"></div>
</div>
